.NearataAjaxChat {
  .Chat {
    border: .2rem solid var(--primary-color);
    margin: .5rem 0;

    & > .header {
      background-color: var(--primary-color);
      padding: .3rem .25rem;
      display: flex;
      justify-content: space-between;
      height: 30px;

      .label,
      .LoadingIndicator-container {
        color: #fff;
      }

      .LoadingIndicator-container {
        height: auto;
      }
    }

    & > .main {
      .ChatList {
        max-height: 300px;
        height: 300px;
        overflow-y: scroll;

        & > .loadMore {
          display: flex;
          justify-content: center;
          margin-top: .5rem;
        }

        .ChatMessage {
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: auto 1fr;
          gap: .25rem;
          padding: .25rem .2rem;

          &:not(:last-child) {
            border-bottom: .1rem solid var(--primary-color);
          }

          & > .body {
            display: grid;
            gap: .5rem;

            & > .header {
              display: grid;
              grid-auto-flow: column;
              gap: .5rem;
              grid-auto-columns: max-content;
              color: var(--muted-color);

              .online .UserOnline {
                font-size: .7rem;
                color: var(--online-user-circle-color);
              }

              .username {
                font-weight: 700;
              }

              .badges {
                display: grid;
                grid-auto-flow: column;
                gap: .25rem;
              }

              .editedAt {
                cursor: default;
              }
            }

            & > .main {
              word-break: break-all;
            }

            & > .footer {
              display: grid;
              grid-auto-flow: column;
              justify-content: end;
              opacity: 0;
              transition: all .25s ease;

              & > .Button {
                padding: 0;
              }
            }
          }

          &:hover .footer {
            opacity: 1;
          }
        }
      }
    }

    & > .footer {
      box-shadow: 0 0 0.5rem -0.25rem rgba(0,0,0,0.5);
      display: grid;
      gap: 0.5rem;
      position: relative;
      margin-top: .25rem;
      padding: 1rem;

      .ChatComposer form {
        display: grid;
        grid-auto-flow: column;
        gap: .5rem;
        grid-template-columns: 1fr auto;
      }

      .ChatOptions {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: .5rem;
      }
    }
  }
}
